.container {
  padding: 32px;

  h2 {
    margin-bottom: 24px;
    font-size: 1.8rem;
  }

  table {
    width: 100%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    padding: 64px;
  }
}